<a href="/index" class="dashboard-link">
    <nav id="sidebar">
        <div class="sidebar-header text-center">
            <h3>To Do List</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/index">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>
            <li>
                <a href="/addtask/{{account.user_id}}">
                    <i class="fa-solid fa-square-plus"></i> Add Task
                </a>
            </li>
            <li>
                <a href="/viewtask/{{account.user_id}}">
                    <i class="fa-solid fa-eye"></i> View All Tasks
                </a>
            </li>
            <li>
                <a href="/completedtask/{{account.user_id}}">
                    <i class="fa-solid fa-list-check"></i> Completed Tasks
                </a>
            </li>
            <li>
                <a href="/logout" onclick="return confirm('Are you sure you want to logout?')">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>        
            </li>
        </ul>
    </nav>
</a>


