<a href="/adminindex" class="dashboard-link">
    <nav id="sidebar">
        <div class="sidebar-header text-center">
            <h3>Admin </h3>
            <h3>To Do List</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/adminindex">
                    <i class="fas fa-home"></i> Home
                </a>
            </li>
            <li>
                <a href="/adminallusers">
                    <i class="fas fa-home"></i> All Users
                </a>
            </li>
            <li>
                <a href="/adminalltasks">
                    <i class="fas fa-home"></i> All Tasks
                </a>
            </li>
            <li>
                <a href="/adminlogout" onclick="return confirm('Are you sure you want to logout?')">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>        
            </li>
        </ul>
    </nav>
</a>


